header{
	background-color: #333333;
	text-align: center;
	padding-top: 20px;
}
header ul{
	width: 640px;
	margin: 0 auto;
	padding: 26px 0 10px;
}
header li{
	float: left;
	width: 160px;
}
header li a{
	color: #9f9f9f;
	position: relative;
}
header li a:hover{
	color: #b4b0b0;
}

header .h_select a{
	color: #fff;
}
header  .h_select a:after{
	/*伪元素*/
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 20px;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-width:10px;
	border-style: solid;
	border-color:  #333  transparent transparent transparent;
}


footer{
	background-color: #e0e0e0;
}
footer #f_box{
	width: 640px;
	margin: 0 auto;
	padding: 20px 0 20px;
}
footer #f_box div{
	float: left;
	/*width: 49%;*/
}
footer #f_box #left{
	text-align: right;
	padding-right: 25px;
	width: 295px;
}
footer #f_box #right{
	width: 294px;
	padding-left: 25px;
	border-left: 1px solid #cecece;
	line-height: 1.6;
	color: #8d8d8d;
	text-shadow: 0 1px 0 #fff;
	/*文字阴影 X Y 模糊 颜色*/
}

