body{
	background-color: #f2f2f2;
}
#main,#main div{
	width: 1000px;
	margin: 20px auto;
	
}
#main #m_ban{
	margin-top: 30px;
	height: 512px;
	/*overflow: hidden;*/
	background: url(../img/main_ban.jpg) no-repeat;
	background-size: 100%;
	/*background-color: #f8f0f0;*/
	/*border-bottom: 1px solid #dfdfdf;
	padding-bottom: 60px;*/
}
#main #m_box_text{
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
#main #m_box_text p{
	margin: 20px 0;
	color: #8f8f8f;
	line-height: 2;
}
#main #m_box_logo{
	text-align: center;
}
#main #m_box_product{
	
	margin-top:39px ;
	
}
#main #m_box_product li:nth-child(2),
#main #m_box_product li:nth-child(5),
#main #m_box_product li:nth-child(8){
	margin: 0 60px;
}

#main #m_box_product li{
	width: 290px;
	height: 222px;
	margin-right: 5px;
	float: left;
	overflow: hidden;
	background-color: #f9f9f9;
	border-radius:5px;
	margin-bottom: 53px;
	Box-shadow: 1px 3px 5px #ccc;
	transition: margin-top 0.5s;
}


#main #m_box_product li:hover{
	margin-top: -20px;
}
#main #m_box_product .primg{
	margin: 0;
}
#main #m_box_product .prcon{
	text-align: center;
	display: inline-block;
	line-height: 45px;
	width: 290px;
	/*height: 45px;*/
	/*width: 328px;*/
}
